body html {
  height: 100vh;
  width: 100vh;
  /* background: url(bg.svg) no-repeat;
  background-size: cover;
  background-position: top; */
  /* padding: 30px; */
  /* margin: 0 aut; */
}
.container {
  height: 100%;
  background: url(bg.svg) no-repeat;
  background-size: cover;
  background-position: top;
  font-family: "Futura LT", sans-serif;
  position: relative;
  /* padding: 30px; */
}
.container1 {
  height: 100vh;
  background: url(bg.svg) no-repeat;
  background-size: cover;
  background-position: top;
  font-family: "Futura LT", sans-serif;
  position: relative;
}
.header {
  height: 60px;
  position: sticky;
  top: 0;
  /* color: aliceblue; */
}
.header__logo {
  position: absolute;
  width: 40%;
  float: left;
  padding: 20px;
  margin: 20px;
}
#logo {
  transform: translateX(20px);
  height: 35px;
  animation-name: moveInTop;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-timing-function: ease-out;
}
.header__navbar {
  float: right;
  margin: 10px 10px;
  /* position: fixed; */
}
.header__navbar .ulList-primary .list-items {
  /* margin: 10px; */
  padding: 10px;
  display: inline-block;
}
.header__navbar .ulList-primary .list-items .link {
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  /* font-weight: bold; */
  font-size: 1.2rem;
  color: #183354;
}
.link:hover {
  background: whitesmoke;
  border-radius: 100px;
  /* color: white; */
}

.content {
  clear: both;
}

.content__left-content {
  float: left;
  width: 60%;
  /* padding: 20px 20px 5px 30px; */
}

.content__right-content {
  float: right;
  width: 40%;
  padding: 10px 5px 5px 0px;
}
#chart {
  height: 100%;
  width: 98%;
  animation-name: moveInRight;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-timing-function: ease-out;
}
.h1-wrapper {
  font-family: "Futura LT", sans-serif;
  font-size: 3.7rem;
  padding: 20px 20px 5px 40px;
}
.btn-get {
  margin: 2px 20px 5px 40px;
  padding: 0.5em;
  border-radius: 100px;
  background: #183354;
  font-family: "Futura LT", sans-serif;
  color: white;
  font-size: 1.4rem;
}
.btn-get:hover {
  transform: translateY(-3px);
}
.btn {
  color: white;
  text-decoration: none;
}
.btn:hover {
  background: #183354;
}
.footer {
  text-align: center;
  width: 100%;
  height: 100px;
  background: #183354;
}
.logo-wrapper {
  text-align: center;
}
.cards__content {
  box-sizing: border-box;
  padding: 20px 20px 10px 20px;
  width: 100%;
  height: 200px;
}
.card__content-left-center {
  float: left;
  width: 63%;
}

.card__content-left {
  float: left;
  width: 48%;
  height: 200px;
  padding: 20px;
  background: url("../img/sport-icon.svg");
  background-size: cover;
  background-position: top;
  opacity: 1;
  border: 10px solid #183354;
}

.card__content-center {
  float: right;
  width: 48%;
  padding: 20px;
  height: 200px;
  background: #183354;
  opacity: 1;
  background: url("../img/education-icon.svg");
  border: 10px solid #183354;
}

.card__content-right {
  float: right;
  width: 33%;
  height: 200px;
  padding: 20px 0px 0px 20px;
  border: 10px solid #183354;
  opacity: 1;
  background: url("../img/education-icon.svg");
}
.card__img {
  height: 200px;
  width: 438px;
  padding: 20px;
}
.card__heading {
  font-family: "Futura LT", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: brown;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateY(20px);
  /* border: 2px solid brown; */
}
#educationId {
  text-decoration: none;
}
.img__left {
  width: 120px;
  height: 120px;
  transform: translateX(132px);
}

.footer {
  height: 20vh;
  transform: translateY(30px);
}
.section {
  /* position: relative; */
  /* border: 1px dashed black; */
  /* display: flex; */
  width: 100%;
  height: 500px;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  height: 550px;
}
.heading__h1 {
  color: #183354;
  text-align: center;
  font-size: 2.5rem;
  transform: translateY(-10px);
}
#adiv {
  text-align: center;
  font-size: 1rem;
  color: white;
}
.data1_2 {
  float: left;
  width: 65%;
  height: 490px;
  /* border: 1px dashed black; */
}
.data1 {
  float: left;
  width: 50%;
  height: 490px;
  background: #183354;
  padding: 10px;
  border: 10px solid white;
  transition: 1s all;
  /* border: 1px dashed black; */
}
.data1:hover {
  transform: translateY(-5px) scale(1.03);
}

.data2 {
  float: right;
  width: 50%;
  height: 490px;
  padding: 10px;
  background: #183354;
  border: 10px solid white;
  transition: 1s all;
  /* border: 1px dashed black; */
}
.data2:hover {
  transform: translateY(-5px) scale(1.03);
}
.data3 {
  float: right;
  width: 35%;
  height: 490px;
  padding: 10px;
  background: #183354;
  background-position: top;
  background-size: cover;
  border: 10px solid white;
  transition: 1s all;
}
.data3:hover {
  transform: translateY(-5px) scale(1.03);
}

.sfooter {
  height: 100px;
}
