.h1-wrapper {
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-timing-function: ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  80% {
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.sports__section {
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  padding: 0px 20px 20px 20px;
}
#sports__section-h1 {
  text-align: center;
  font-family: "Futura LT", sans-serif;
  transform: translateX(150px);
  font-size: 3em;
  color: #183354;
}
.cards {
  float: left;
  width: 65%;
  height: 50vh;
}
.cards-part1 {
  width: 80vh;
  height: 50vh;
  margin: 0 auto;
}
.card-left {
  float: left;
  width: 50%;
}
.card-part1-left {
  width: 70vh;
  height: 50vh;
}
.card-center {
  float: right;
  width: 50%;
}
#svg-img1 {
  height: 100%;
  width: 70vh;
}
#svg-img2 {
  height: 100%;
  width: 80vh;
}

.card-right {
  float: right;
  width: 33%;
  height: 50vh;
}

.footer {
  font-family: "Futura LT", sans-serif;
  display: grid;
  /* opacity: 0.2; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "banner explore address socialMedia legal";
  grid-gap: 15px 10px;
}
.banner {
  margin-top: 10px;
  grid-area: banner;
}
.explore__wrapper {
  margin-top: 10px;
  grid-area: explore;
}
.address__wrapper {
  margin-top: 10px;
  grid-area: address;
  text-align: left;
  color: #ffffff;
}
.socialMedia__wrapper {
  margin-top: 10px;
  grid-area: socialMedia;
  text-align: left;
  color: #ffffff;
}
.legal__wrapper {
  margin-top: 10px;
  grid-area: legal;
  text-align: left;
  line-height: 1.6;
  color: #ffffff;
}
#banner-h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  font-family: "Futura LT", sans-serif;
}
#explore-h2 {
  text-align: left;
  color: #ffffff;
}
#explore-ul {
  color: #ffffff;
  list-style-type: none;
  text-align: left;
  line-height: 1.6;
}
#address-h2 {
  line-height: 1.6;
}
#socialMedia-ul {
  list-style-type: none;
  line-height: 1.6;
}
#socialMedia-a {
  text-decoration: none;
  color: #ffffff;
}
#clickForAnimation {
  display: none;
}
#clickForAnimation:hover {
  display: block;
}
.btn-css {
  /* display: block; */
  width: 20%;
  padding: 10px 10px 5px 10px;
  /* margin: 10px; */
  color: #ffffff;
  background: #183354;
  font-family: "Futura LT", sans-serif;
  font-size: 1em;
  border-radius: 12px;
  transform: translate(150px);
}
.btn-css:hover {
  color: aliceblue;
}
.fas {
  transform: translateX(130px);
  color: #183354;
}
