@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
    margin: 0px;
    padding: 0px;
    background: rgb(194, 212, 228); 
    width: 100%;
}
.container{
  
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}
h1{
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
    border-bottom: 4px solid black;
    width: 150px;
    /* float: left; */
    /* clear: right; */
}
.text-box{
    /* margin-bottom: 80px; */
    width: 100%;
    /* overflow: hidden; */
    font-size: 20px;
    padding: 8px 0;
    margin: 10px 0;
    border-bottom: 1px solid black;
    width: 300px;
   
  
}
.text-box1{
    width: 100%;
    padding: 8px 0;
    margin: 15px 0;
    border-bottom: 1px solid black; 
    width: 300px;

}
.text-box input{
    width: 200px;
    font-size: 16px;
    margin: 8px;
    border: none;
    outline: none;
    background: none;
}
.text-box1 input{
    width: 200px;
    font-size: 16px;
    margin: 10px;
    border: none;
    outline: none;
    background: none;
}
.bottom-box input{
    width: 150px;
    font-size: 20px;
}