.btn-get {
  margin: 2px 20px 5px 40px;
  padding: 0.5em;
  border-radius: 100px;
  background: #183354;
  font-family: "Futura LT", sans-serif;
  color: white;
  font-size: 1.4rem;
}
.btn-get:hover {
  transform: translateY(-3px);
}
.btn {
  color: white;
  text-decoration: none;
}
.btn:hover {
  background: #183354;
}
